*, *:after, *:before {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
body {
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background: linear-gradient(darkblue 100%,white 0%) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
.mdc-button {
    margin: 20px;
}
.mdc-elevation--z2 {
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 150px auto;
}
.mdc-top-app-bar {
    background-color: white;
    color: darkblue;
}
.mdc-data-table {
    border: white;
    margin: 0 30px;
    display: grid;
    grid-template-rows: auto auto auto; /* 3 строки */
    grid-template-columns: auto auto auto; /* 3 столбца */
    align-content: end;
}
.mdc-text-field {
    grid-column: auto;
    /*width: 100px;
    height: 70%;*/
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin: 0 auto 10px;
}

.grid-container {
    display: grid;
    /*grid-template-rows: auto auto auto; !* 3 строки *!*/
    grid-template-columns: 250px 200px 120px; /* 3 столбца */
    align-content: center;
    align-items: end;
    margin-left: 0;
    padding: 5px;

}
.grid-container-2 {
    display: grid;
    /*grid-template-rows: auto auto auto; !* 3 строки *!*/
    grid-template-columns: 250px 200px 120px; /* 3 столбца */
    align-content: center;
    align-items: end;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;

}
.mdc-dialog__title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin: 10px auto;
}
.text {
    font-size: 18px;
    margin: 20px;

}
.text_1 {
    font-size: 20px;
    margin: 22pt auto;
    text-align: left;

}
.input {
    width: 130px;
    height: 30px;
    margin: 20px 0;
    alignment: left;
    border-radius: 10px 10px 0 0;
    border-style: unset;

    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-align: center;


    transition: border-style 0.1s, border 0.1s;
}
.input:hover{
    background-color: #f0f0f0;
    border: 3px solid royalblue;
}
.select {
    width: 100px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 5px lightgray;
    border-style: unset;
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}
.mdc-button--outlined {
    margin: 20px;
    box-shadow: 1px 1px 1px lightgray;
    padding: 5px;
    width: 40%;
    height: 50px;
}
.mdc-button__label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: darkblue;
}